.footer{
    background: var(--mint-green);
    margin-top: 150px;
}
.footer_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
  padding: 218px 0 64px;
}
.footer_icon img {
display: block;
padding-bottom: 24px;
}
.footer_con li{
    margin-bottom: 12px;
    list-style: none;
    font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
color: var(--blackish-green);
opacity: 0.7;
}
.footer_con h4{
    font-family: var(--second-family);
font-weight: 700;
font-size: 16px;
color: var(--blackish-green);
margin-bottom: 16px;
}
