.recent {
    margin: 80px 0;
}
.recent h2{
    font-family: var(--second-family);
font-weight: 700;
font-size: 32px;
color: #000;
}
.recent__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recent__card {
    width: 238px;
    display: flex;
    align-items: center;
    gap: 16px;
}
.recent__card h4{
    font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
color: var(--blackish-green);
}
.recent__card span{
    font-family: var(--font-family);
font-weight: 400;
font-size: 12px;
color: var(--blackish-green);
opacity: 0.75;
}