*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
	--blackish-green: #121;
	--mint-green: #8dd3bb;
	--slamon: #ff8682;
	--neutrals: #fff;
    --font-family: "Montserrat", sans-serif;
    --second-family: "Roboto", sans-serif;
    --third-family: "TradeGothic LT Extended", sans-serif;
    --font3: "Manrope", sans-serif;
    --font4: "Open Sans", sans-serif;
    --font5: "Inter", sans-serif;
}
.container{
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
    padding: 0 74px;

}
.li{
list-style: none;

}
.a{
    text-decoration: none;
}